@import "tailwindcss";

@theme {
  --color-surface: #f9f9f9;
  --color-surface-lowest: #ffffff;
  --color-surface-high: #e8e8e8;
  --color-outline: #777777;
  --color-error: #ba1a1a;
  --color-on-surface-variant: #474747;
  
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-mono: 'Space Grotesk', ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  body {
    @apply bg-surface text-black font-sans antialiased;
  }
  
  /* Brutalist Reset: Absolute zero border radius everywhere */
  * {
    border-radius: 0 !important;
  }

  /* Remove default focus outlines and replace with sharp black borders */
  input:focus, textarea:focus, button:focus {
    outline: none;
    @apply border-black ring-0;
  }
}
