@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-on-tertiary: #005c56;
  --color-on-tertiary-fixed-variant: #005d57;
  --color-on-secondary-container: #b4c1c9;
  --color-tertiary-fixed-dim: #71d7cd;
  --color-on-primary-fixed-variant: #246830;
  --color-error-container: #85230a;
  --color-surface: #0c0f0b;
  --color-primary-fixed-dim: #9ee59f;
  --color-surface-container-high: #1c211a;
  --color-outline-variant: #434a40;
  --color-secondary-fixed-dim: #c9d6de;
  --color-background: #0c0f0b;
  --color-inverse-on-surface: #535650;
  --color-secondary: #bbc8d0;
  --color-tertiary-dim: #71d7cd;
  --color-on-tertiary-container: #00534d;
  --color-secondary-dim: #aebbc2;
  --color-tertiary-fixed: #7fe6db;
  --color-primary-fixed: #abf4ac;
  --color-on-surface-variant: #a6ada1;
  --color-primary-container: #195f28;
  --color-surface-dim: #0c0f0b;
  --color-on-primary-container: #acf5ad;
  --color-on-secondary-fixed: #354147;
  --color-on-primary: #004b18;
  --color-tertiary-container: #7fe6db;
  --color-error: #f97758;
  --color-on-secondary-fixed-variant: #515d64;
  --color-secondary-fixed: #d7e4ec;
  --color-on-error-container: #ff9b82;
  --color-surface-variant: #21271f;
  --color-on-background: #e1e8da;
  --color-error-dim: #c44f34;
  --color-on-primary-fixed: #004a18;
  --color-on-error: #450900;
  --color-on-tertiary-fixed: #003e39;
  --color-secondary-container: #313d43;
  --color-outline: #71776c;
  --color-inverse-primary: #286c33;
  --color-primary: #90d792;
  --color-surface-bright: #282e25;
  --color-surface-container-lowest: #000000;
  --color-surface-container-highest: #21271f;
  --color-inverse-surface: #f8faf2;
  --color-surface-container: #161b14;
  --color-tertiary: #8ef4e9;
  --color-on-surface: #e1e8da;
  --color-surface-container-low: #10140f;
  --color-primary-dim: #83c986;
  --color-on-secondary: #364248;
  --color-surface-tint: #90d792;

  --font-headline: "Manrope", sans-serif;
  --font-body: "Manrope", sans-serif;
  --font-label: "Plus Jakarta Sans", sans-serif;
}

@layer base {
  body {
    @apply bg-surface text-on-background font-body;
    min-height: max(884px, 100dvh);
  }
}

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  .active-glow {
    box-shadow: 0 0 20px -5px rgba(144, 215, 146, 0.15);
  }
  .editorial-gradient {
    background: linear-gradient(135deg, #90d792 0%, #195f28 100%);
  }
  .bento-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
